<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>SMITTY RETURNS</title>
  <script type="text/javascript" src="../../assets/javascripts/chart.js"></script>

</head>
<body>
  <form method="post" action="/pages" class="button_to btn btn-primary" id="singlebutton">
    <fieldset>
      <!-- Form Name -->
      <legend>Welcome to TwitterVision!</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Enter a Twitter Handle</label>
        <div class="col-md-4">
          <input id="username" name="username" type="text" placeholder="@RealDonaldTrump" class="form-control input-md">
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton">Analyze this Account</label>
        <div class="col-md-4">
            <input value="Enter" type="submit" />
        </div>
      </div>
    </fieldset>
  </form>
  <canvas id="doughnut-chart" width="800" height="450"></canvas>
  <script>
    var tweets = []
    <% if !(tweets.nil?) %>
      tweets = <%=raw tweets%>
    <% end %>

    var vPos = 0
    var pos = 0
    var neutral = 0
    var neg = 0
    var vNeg = 0

    for (var i=0; i<tweets.length; i++) {
      if (tweets[i] == 0) continue;
      if (tweets[i] >= 0.8) vPos++;
      else if (tweets[i] >= 0.3) pos++;
      else if (tweets[i] > -0.3) neutral++;
      else if (tweets[i] > -0.8) neg++;
      else vNeg++;
    }

    new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["Very positive", "Positive", "Neutral", "Negative", "Very negative"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#ffee00", "#57c100","#c1c1c1","#ef2700","#6d1200"],
          data: [vPos,pos,neutral,neg,vNeg]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'DATA'
      }
    }
    });

  </script>
</body>
</html>
