<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>SMITTY RETURNS</title>
  <script type="text/javascript" src="../../assets/javascripts/chart.js"></script>
</head>
<body>
  <form method="post" action="/pages" style="width: 100%; margin: auto;">
    <fieldset>
      <!-- Form Name -->
      <legend><h3>Welcome to TwitterVision!</h3></legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="textinput">Enter a Twitter Handle</label>
        <div>
          <input id="username" name="username" type="text" placeholder="ex. realDonaldTrump" class="form-control input-md" style="width: 15em;">
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="control-label" for="singlebutton">Analyze this Account</label>
        <div>
            <input value="Enter" type="submit" />
        </div>
      </div>
    </fieldset>
  </form>
  <!--<p>Analyzing <%= @count %> tweets</p>-->
  <canvas id="doughnut-chart" height="100"></canvas>
  <script>
    var tweets = [];

    <% if !(tweets.nil?) %>
      tweets = <%=raw tweets%>;
    <% end %>

    if (tweets.length == 0) {
      window.alert("Invalid or private user");
    }

    var total = 0;
    var vPos = 0;
    var pos = 0;
    var neutral = 0;
    var neg = 0;
    var vNeg = 0;

    for (var i=0; i<tweets.length; i++) {
      if (tweets[i] == 0) continue;
      total++;
      if (tweets[i] >= 0.8) vPos++;
      else if (tweets[i] >= 0.3) pos++;
      else if (tweets[i] > -0.3) neutral++;
      else if (tweets[i] > -0.8) neg++;
      else vNeg++;
    }

    new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["Very positive", "Positive", "Neutral", "Negative", "Very negative"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#58aceb", "#3e77a3","#2c5575","#1b3549","#000000"],
          data: [(vPos/total*100).toFixed(2),(pos/total*100).toFixed(2),(neutral/total*100).toFixed(2),(neg/total*100).toFixed(2),(vNeg/total*100).toFixed(2)]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Sentiment Analysis',
        fontSize: 24
      }
    }
    });

  </script>
</body>
</html>
